* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-md-9 {
    position: relative;
    padding: 0;
}

.col-md-3 {
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-3 button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: calc(30% - 15px);
    padding: 0;
    z-index: 3;
}

.prev {
    top: 10px; 
}

.next {
    bottom: 10px;
}

.img-top {
    max-width: 1000px;
    width: 100%;
    max-height: 500px;
    position: relative;
    aspect-ratio: 2 / 1;
}

.absolute-text {
    position: absolute;
    right: 20px;
    bottom: 35px;
    text-align: right;
    color: white;
}

.thumb {
    flex-basis: 20%;
    opacity: 0.5;
}

.thumb.active {
    opacity: 1;
}

.thumb img {
    width: 60%;
    aspect-ratio: 2 / 1;
}